<h3>Resgister</h3>

<form action="/admin/register" method="POST">
  
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">
  
  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter password" name="password">
  
  <label for="password"><b>Confirme Password</b></label>
  <input type="password" placeholder="Enter password" name="confirme_password">

  <input type="submit" value="register" class="btn">

</form>